*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1e1e1e;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 0 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 80px;
  height: 80px;
  z-index: 99;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
header .nav-menu {
  padding: 5em 0;
  transform: translateX(120%);
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.1s linear;
}
header .nav-menu .nav-link {
  text-align: center;
  color: #ffffff;
  display: block;
  padding: 1em 0;
  transition: 0.2s ease-in-out;
}
header .nav-menu .nav-link:hover {
  color: #6677bc;
}
header .nav-menu.open {
  transform: translateX(0);
  background-color: #1e1e1e;
  transition: 0.2s ease-in-out;
}
header .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 1.8em;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  z-index: 5;
}
header .hamburger .navlink-hamburger,
header .hamburger .navlink-hamburger::before {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}
header .hamburger .navlink-hamburger::after {
  width: 20px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  margin-left: 10px;
}
header .hamburger .navlink-hamburger::before,
header .hamburger .navlink-hamburger::after {
  content: "";
  position: absolute;
}
header .hamburger .navlink-hamburger::before {
  transform: translateY(-0.6rem);
}
header .hamburger .navlink-hamburger::after {
  transform: translateY(0.6rem);
}
header .hamburger.open .navlink-hamburger {
  background-color: transparent;
}
header .hamburger.open .navlink-hamburger::before {
  transform: rotate(45deg);
}
header .hamburger.open .navlink-hamburger::after {
  transform: rotate(-45deg);
  width: 30px;
  margin-left: 0;
}
@media (min-width: 48em) {
  header .hamburger {
    display: none;
  }
  header .hamburger .navlink-hamburger, header .hamburger .navlink-hamburger::after,
header .hamburger .navlink-hamburger::before {
    display: none;
  }
  header .nav-menu {
    width: 100%;
    transform: translateX(0);
    height: 100%;
    padding: 2em 1.8em;
    text-align: right;
  }
  header .nav-menu .nav-link {
    padding: 1em;
    display: inline;
  }
}

footer, .main .contactus .contact-form, .main .blog .our-blog, .main .restaurant .resto-box, .main .main-section .features .feature-special, .main .main-section .about, .main #banner .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.subtitle {
  text-transform: uppercase;
  font-size: 1rem;
}

.title-head {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1em 0;
  text-transform: uppercase;
  color: rgb(216, 55, 19);
}
.title-head span {
  font-size: 1.2rem;
  color: black;
}

.h4-sub {
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgb(216, 55, 19);
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  display: grid;
  place-items: center;
}
.main #banner {
  background-image: url("../images/banner-mountain.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.main #banner::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.main #banner .home-banner {
  transform: translateY(14rem);
  text-align: center;
  position: relative;
  z-index: 3;
}
.main #banner .home-banner h1 {
  width: 100%;
  margin: auto;
  color: #fff;
  font-size: clamp(0.8rem, 1.5vw + 0.5rem, 1.2rem);
  font-weight: 600;
  padding: 1em 0.5em 0.5em 0.5em;
  text-transform: uppercase;
  line-height: 2rem;
}
.main #banner .home-banner h1 span {
  color: rgba(216, 55, 19, 0.9);
  font-size: clamp(1.8rem, 5vw + 1rem, 3.5rem);
  font-weight: 800;
  line-height: 3rem;
}
.main #banner .home-banner h3 {
  width: 100%;
  margin: auto;
  padding: 0 3em;
  line-height: 1.4rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2em;
}
.main #banner .home-banner .cta {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1rem;
  background-color: transparent;
  padding: 10px 16px;
  border-radius: 25px;
  border: 2px solid rgb(216, 55, 19);
  margin-top: 1em;
  outline: none;
}
.main #banner .home-banner .cta:hover {
  border: 2px solid rgb(216, 55, 19);
  transition: 0.5s ease-in-out;
  background-color: rgba(216, 55, 19, 0.9);
}
.main #banner .icons .fa {
  font-size: 1.4rem;
  color: #fff;
  padding: 0.175em;
  position: relative;
  top: 16rem;
  z-index: 55;
  cursor: pointer;
}
.main #banner .icons .fa:hover {
  color: rgb(216, 55, 19);
}
.main .main-section {
  width: 100%;
  height: 100%;
  margin: 1em auto;
  position: relative;
  display: grid;
  place-items: center;
  padding-top: 4em;
}
.main .main-section .about {
  width: 80%;
  height: 100%;
  position: relative;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 1em 1em 2em 1em;
  margin: 5em auto 2em;
  background-color: rgb(239, 233, 230);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.main .main-section .about .about-text {
  color: #000000;
  text-align: center;
  margin: 0 auto 2em;
}
.main .main-section .about .about-text h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.6rem;
  padding: 1em 1em;
}
.main .main-section .about .about-text h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1rem;
  padding: 1em;
  color: #000000;
}
.main .main-section .about .about-image {
  position: relative;
  top: 0;
  width: 90%;
  margin: auto;
}
.main .main-section .about .about-image img {
  max-inline-size: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main-section .about .learnmore {
  position: relative;
  top: 0;
  margin-top: 2em;
  padding: 10px 12px;
  background-color: rgba(216, 55, 19, 0.8);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
}
.main .main-section .about .learnmore:hover {
  background-color: #d83713;
}
.main .main-section .features {
  position: relative;
  top: 0;
  width: 80%;
  height: auto;
  padding: 4em 0 0 0;
}
.main .main-section .features .feature-special {
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  gap: 1em;
}
.main .main-section .features .feature-special .sub1 {
  margin: 2em auto 0 auto;
  height: 100%;
  background-color: #fff;
  padding: 1em;
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.6);
}
.main .main-section .features .feature-special .sub1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}
.main .main-section .features .feature-special .sub1 .title {
  padding: 1em 0;
}
.main .main-section .features .feature-special .sub1 .desc {
  padding-bottom: 1em;
}
.main .main-section .features .feature-special .sub1 .desc .showmore-text {
  display: none;
}
.main .main-section .features .feature-special .sub1 .readmore {
  padding: 0.3em 0.5em;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: rgba(216, 55, 19, 0.8);
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  outline: none;
}
.main .main-section .features .feature-special .sub1 .readmore:hover {
  background-color: #d83713;
}
.main .restaurant {
  position: relative;
  padding-top: 6em;
  width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
  place-items: center;
}
.main .restaurant .resto-box {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.main .restaurant .resto-box .resto {
  height: 300px;
  margin: 2em auto 1em 0;
  background-color: rgb(239, 233, 230);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  display: block;
}
.main .restaurant .resto-box .resto .imgbx {
  width: 90%;
  height: 240px;
  margin: 0 auto;
  cursor: pointer;
}
.main .restaurant .resto-box .resto .imgbx img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  position: relative;
  top: -25px;
}
.main .restaurant .resto-box .resto .content {
  position: relative;
  top: 0;
  height: 150px;
  text-align: center;
  padding: 0 1.3em;
  visibility: hidden;
  transition: 0.3s ease-in;
  position: relative;
  top: -25px;
}
.main .restaurant .resto-box .resto .content h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 10px;
  visibility: visible;
}
.main .restaurant .resto-box .resto .content p {
  line-height: 1em;
  padding-bottom: 2em;
}
.main .restaurant .resto-box .resto .content .resto-btn {
  margin-top: 2em;
  padding: 0.2em 1em;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: rgba(216, 55, 19, 0.8);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main .restaurant .resto-box .resto .content .resto-btn:hover {
  background-color: #d83713;
}
.main .restaurant .resto-box .resto:hover {
  height: 470px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
}
.main .restaurant .resto-box .resto:hover .content {
  visibility: visible;
}
.main .blog {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  background-color: #6677bc;
  padding: 0.5em;
  position: relative;
}
.main .blog .our-blog {
  flex-wrap: wrap;
  gap: 1em;
  width: 80%;
  height: auto;
  position: relative;
}
.main .blog .our-blog .places {
  width: 100%;
  background-color: white;
  position: relative;
  top: -8rem;
  margin: 3em 1em 0 1em;
}
.main .blog .our-blog .places .content {
  padding: 1.4em;
}
.main .blog .our-blog .places .content h3 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
}
.main .blog .our-blog .places .content p {
  line-height: 1.3rem;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.6em;
}
.main .blog .our-blog .places .images {
  width: 100%;
  height: 250px;
  margin: auto;
}
.main .blog .our-blog .places .images img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-inline-size: 100%;
  height: 100%;
}
.main .blog .our-blog .places .readmore {
  padding: 0.6em 1em;
}
.main .blog .our-blog .places .readmore .more {
  font-weight: 500;
  cursor: pointer;
}
.main .blog .our-blog .places .readmore .more:hover {
  color: #6677bc;
}
.main .contactus {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 6em 0 1em 0;
  padding-top: 1em;
  display: grid;
  place-items: center;
}
.main .contactus h4 {
  font-size: 1rem;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
}
.main .contactus h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0.6em 0 1em;
  color: rgb(216, 55, 19);
}
.main .contactus .contact-form {
  width: 80%;
  height: auto;
  flex-wrap: wrap;
  padding: 2em;
}
.main .contactus .contact-form .contact {
  height: 100%;
  border-radius: 5px;
  margin: auto;
  padding: 1em 1.6em;
  background-color: rgb(239, 233, 230);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
}
.main .contactus .contact-form .contact h2 {
  text-transform: uppercase;
  padding: 0.5em;
  font-size: 1.2rem;
  color: rgb(216, 55, 19);
  display: block;
  text-align: center;
  position: relative;
  top: -5px;
  border-radius: 5px;
}
.main .contactus .contact-form .contact .contacinfo {
  margin-bottom: 1.8em;
  position: relative;
}
.main .contactus .contact-form .contact .contacinfo input, .main .contactus .contact-form .contact .contacinfo textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  resize: none;
}
.main .contactus .contact-form .contact .contacinfo input:focus {
  box-shadow: 0 2px 5px 0 black;
  padding-left: 0.3em;
}
.main .contactus .contact-form .contact .contacinfo textarea:focus {
  box-shadow: 0 2px 5px 0 black;
  padding: 0.3em;
}
.main .contactus .contact-form .contact .contacinfo textarea {
  height: 200px;
}
.main .contactus .contact-form .contact .contacinfo input {
  height: 30px;
}
.main .contactus .contact-form .contact .contacinfo input:focus ~ label, .main .contactus .contact-form .contact .contacinfo input:valid ~ label {
  top: -25px;
}
.main .contactus .contact-form .contact .contacinfo textarea:focus ~ label, .main .contactus .contact-form .contact .contacinfo textarea:valid ~ label {
  top: -25px;
}
.main .contactus .contact-form .contact .contacinfo label {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3em;
  cursor: text;
  transition: 0.5s;
}
.main .contactus .contact-form .contact button {
  width: 100%;
  padding: 0.4em;
  background-color: rgb(216, 55, 19);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
  outline: none;
  border: 0;
  margin-bottom: 1em;
  cursor: pointer;
  border-radius: 5px;
}
.main .contactus .contact-form .info {
  width: 100%;
  height: 100%;
  color: rgb(216, 55, 19);
  margin: 2em auto;
}
.main .contactus .contact-form .info .contact-info {
  width: 100%;
  margin: auto;
  padding: 0 1em;
}
.main .contactus .contact-form .info .contact-info h2 {
  text-transform: uppercase;
  font-size: clamp(1rem, 0.75rem + 1.5vw, 1.4rem);
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 1.2em;
  display: block;
  color: rgb(216, 55, 19);
}
.main .contactus .contact-form .info .contact-info ul {
  list-style: none;
  display: block;
  margin: 0 auto 1em;
  width: 100%;
}
.main .contactus .contact-form .info .contact-info ul li {
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .contactus .contact-form .info .contact-info ul li img {
  width: 25px;
  height: 25px;
}
.main .contactus .contact-form .info .contact-info ul li p {
  margin-left: 0.6em;
  color: #000000;
}
.main .contactus .contact-form .info .map {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0.5em;
}
.main .contactus .contact-form .info .map .map-container {
  width: 100%;
  height: 100%;
  border: 0.1em solid black;
}
.main .contactus .contact-form .info .map .map-container iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 48em) {
  .main .main-section .about {
    flex-direction: row;
    width: 80%;
    padding: 3em 5em;
    gap: 2em;
  }
  .main .main-section .about .about-text {
    flex: 1;
    padding: 0;
  }
  .main .main-section .about .about-image {
    flex: 1;
    height: 100%;
  }
  .main .main-section .feature-special .sub1 {
    flex-basis: 45%;
  }
  .main .restaurant .resto-box .resto {
    flex-basis: 45%;
  }
  .main .blog .our-blog {
    max-inline-size: 90%;
  }
  .main .blog .our-blog .places {
    flex-direction: row;
    flex-basis: 27%;
  }
  .main .contactus {
    width: 100%;
  }
  .main .contactus .contact-form {
    width: 100%;
    gap: 2em;
  }
  .main .contactus .contact-form .contact {
    margin-top: 1em;
    flex: 1;
  }
  .main .contactus .contact-form .info {
    margin-top: 1em;
    flex: 1;
    padding-top: 0;
  }
}
@media (min-width: 62em) {
  .main .main-section .about {
    flex-direction: row;
    width: 80%;
    padding: 3em 5em;
    gap: 2em;
  }
  .main .main-section .about .about-text {
    flex: 1;
    padding: 0;
  }
  .main .main-section .about .about-image {
    flex: 1;
    height: 100%;
  }
  .main .main-section .feature-special {
    width: 100%;
  }
  .main .main-section .feature-special .sub1 {
    flex-basis: 23%;
    gap: 1em;
  }
  .main .restaurant .resto-box {
    width: 100%;
  }
  .main .restaurant .resto-box .resto {
    flex-basis: 22%;
  }
  .main .blog .our-blog {
    width: 100%;
  }
  .main .blog .our-blog .places {
    flex-direction: row;
    flex-basis: 29%;
  }
  .main .contactus {
    width: 100%;
  }
  .main .contactus .contact-form {
    width: 100%;
    gap: 3em;
  }
  .main .contactus .contact-form .contact {
    margin-top: 1em;
    flex-basis: 45%;
  }
  .main .contactus .contact-form .info {
    margin-top: 1em;
    flex-basis: 45%;
    padding-top: 0;
  }
}

footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #222222;
  flex-direction: column;
}
footer .copyright-footer {
  padding: 1em 2em;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}
footer .copyright-footer p {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  margin-top: 0.8em;
  line-height: 1.2rem;
  padding: 0 10px;
}
footer .icons {
  color: #fff;
}
footer .icons .fa {
  padding: 0 0.6em 1em;
}/*# sourceMappingURL=style.css.map */